---
import Title3 from "../../../shared/Title3.astro";

export interface Props {
  title: string;
  imageSrc: string;
  alt: string;
}

const { title, imageSrc, alt } = Astro.props;
const animation = `duration-300 ease-linear`;
---

<div class=`
  ${animation} group
  relative overflow-hidden rounded-lg h-full
  `>
  <img
    src={imageSrc}
    alt={alt}
    class=`
    w-full h-96 object-cover
    ${animation} group-hover:scale-125
    `
    loading="lazy"
  />
  <div
    class=`
  absolute top-0 h-full w-full bg-gradi
  bg-gradient-to-b from-black/20 to-black/60 
  ${animation} group-hover:bg-black/60
  `
  >
  </div>
  <div
    class=`
    absolute flex flex-col bottom-0 w-full 
    translate-y-[calc(100%-7.5rem)] group-hover:translate-y-0
    content-center
    ${animation}
    `
  >
    <div class={`m-6 text-white ${animation}`}>
      <Title3 className="mb-0">
        {title}
      </Title3>
    </div>
  </div>
</div>





