---
import Container from "../../../shared/Container.astro";
import LazyImage from "../../../shared/LazyImage.astro";
import Paragraph from "../../../shared/Paragraph.astro";
import Title3 from "../../../shared/Title3.astro";
import { prestationsFeaturesData } from "../prestationsFeaturesData.ts";

export interface Props {
  className?: string;
}

const { className = "" } = Astro.props;
---

<section id="prestations-features" class={`${className}`}>
  <Container>
    {
      prestationsFeaturesData.features.map((feature, index: number) => {
        const oddIndex = index % 2 === 0;
        const flexRow = oddIndex ? "midmd:flex-row-reverse" : "midmd:flex-row";
        return (
          <div class={`w-100 pb-32`}>
            <div
              class={`flex flex-col gap-10 lg:gap-12 ${flexRow} mx-auto max-w-7xl w-full`}
            >
              <div class="max-w-md mx-auto midmd:max-w-none lg:mx-0 lg:pr-10 xl:pr-2 flex w-11/12 midmd:w-5/12 lg:w-1/2 midmd:h-auto">
                <div class="w-full max-h-[50vh] sm:h-96 midmd:h-full relative">
                  <LazyImage
                    src={feature.visual}
                    alt={feature.title}
                    width="500"
                    class="rounded-3xl object-cover h-full"
                  />
                </div>
              </div>
              <div class="max-w-md mx-auto w-11/12 flex-1 flex midmd:w-7/12 lg:w-1/2 flex-col">
                <Title3>{feature.title}</Title3>
                <Paragraph className="mt-3">{feature.description}</Paragraph>
              </div>
            </div>
          </div>
        );
      })
    }
  </Container>
</section>




