---
import WelcomeMessage from "../components/sections/accueil/components/WelcomeMessage.astro";
import PresentationPreview from "../components/sections/presentation/PresentationPreview.astro";
import Installations from "../components/sections/installations/Installations.astro";
import ClassesPonySection from "../components/sections/classesPony/ClassesPonySection.astro";
import Contact from "../components/sections/contact/Contact.astro";
import Layout from "../layouts/Layout.astro";
import Actualites from "../components/sections/actualites/Actualites.astro";
import Concours from "../components/sections/concours/Concours.astro";
import { accueilData } from "../components/sections/accueil/data.ts";
---

<Layout title="Les Écuries d'Ulysse - Écurie de propriétaires à Bouloc">
  <main class="flex flex-col gap-y-20 md:gap-y-40 overflow-hidden">
    <WelcomeMessage
      image={accueilData.welcome.image}
      title={accueilData.welcome.title}
      message={accueilData.welcome.message}
      closing={accueilData.welcome.closing}
      signature={accueilData.welcome.signature}
    />

    <PresentationPreview />

    <ClassesPonySection />

    <Installations />

    <Concours />

    <Actualites />

    <Contact />
  </main>
</Layout>
