---

import Navitem from "../components/shared/Navitem.astro";
import BtnLink from "../components/shared/BtnLink.astro";
import BtnThemeSwitch from "../components/shared/BtnThemeSwitch.astro";
import logoImage from "../images/commun/logo_EcurieUlysse_cuir.png";
const baseUrl = import.meta.env.BASE_URL;
const navItems = [
  {
    href: `${baseUrl}/prestations`,
    text: "Prestations",
  },
  {
    href: `${baseUrl}/elevage`,
    text: "Élevage",
  },
  {
    href: `${baseUrl}/concours`,
    text: "Concours",
  },
  {
    href: `${baseUrl}/actualites`,
    text: "Actualités",
  },
  {
    href: `${baseUrl}/#boutique`,
    text: "Boutique",
  },
  {
    href: `${baseUrl}/#contact`,
    text: "Contact",
  },
];

---

<header class="py-6 px-6 bg-white">
  <!-- <Container> -->
  <nav class="w-full flex justify-between gap-6 relative">
    <!-- logo -->
    <div class="min-w-max inline-flex relative">
      <!-- LOGO -->
      <a href={baseUrl} class="relative flex items-center gap-3">
        <div class="h-16 overflow-hidden flex rounded-xl">
          <img
            src={logoImage.src}
            alt="Les écuries d'Ulysse"
          />
        </div>
      </a>
    </div>

    <div
      data-nav-overlay
      aria-hidden="true"
      class="fixed hidden inset-0 lg:!hidden bg-box-bg bg-opacity-50 backdrop-filter backdrop-blur-xl"
    >
    </div>
    <div
      data-navbar
      class="flex h-0 overflow-hidden lg:!h-auto lg:scale-y-100 duration-300 ease-linear flex-col gap-y-6 gap-x-4 lg:flex-row w-full lg:justify-between lg:items-center absolute lg:relative top-full lg:top-0 border-x border-x-box-border lg:border-x-0 bg-white"
    >
      <ul
        class="text-black border-t border-box-border lg:border-t-0 px-6 lg:px-0 pt-6 lg:pt-0 flex flex-col lg:flex-row gap-y-4 gap-x-3 text-lg text-heading-2 w-full lg:justify-end lg:items-center"
      >
        {
          navItems.map((item) => {
            return <Navitem {...item} />;
          })
        }
      </ul>

      <div
        class="lg:min-w-max flex items-center sm:w-max w-full pb-6 lg:pb-0 border-b border-box-bg lg:border-0 px-6 lg:px-0"
      >
        <BtnLink
          text="Réservation"
          href="https://lesecuriesdulysse.club/"
          className="flex justify-center w-full sm:w-max text-lg text-heading-2"
          variant="cta"
          target="_blank"
        />
      </div>
    </div>

    <div class="min-w-max flex items-center gap-x-3">
      <!-- Theme Switch -->
      <BtnThemeSwitch variant="primary" />

      <!-- Navbar toggle -->
      <button
        data-toggle-nav
        data-open-nav="false"
        class="lg:hidden lg:invisible outline-none w-7 h-auto flex flex-col relative"
      >
        <span
          id="line1"
          class="w-6 h-0.5 rounded-full bg-heading-2 transition-all duration-300 ease-linear bg-black"
        ></span>
        <span
          id="line2"
          class="w-6 origin-center mt-1 h-0.5 rounded-ful bg-heading-2 transition-all duration-300 ease-linear bg-black"
        ></span>
        <span
          id="line3"
          class="w-6 mt-1 h-0.5 rounded-ful bg-heading-2 transition-all duration-300 ease-linear bg-black"
        ></span>
        <span class="sr-only">togglenav</span>
      </button>
    </div>
  </nav>
  <!-- </Container> -->
</header>